#graphin-container {
  height: 100%;
  width: 100%;
  position: relative;
  border: 1px solid red;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAAGz7rX1AAAABGdBTUEAALGPC/xhBQAAAEVJREFUSA1jYBjs4NadB/8H1I0gBwy4I2gWAvh8xkQzW0cNHtgQGN5pemDDdtT20RBADgF8JSyyOmT2aMmLHBqjbOqGAAAbVhkYx/42BQAAAABJRU5ErkJggg==) repeat;
}
.graphin-core {
  height: 100%;
  width: 100%;
  min-height: 500px;
}
